//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR


// Dimension maximal

$max-width-phone: 280px;
$max-width-tablette: 700px;
$max-width-desktop: 1200px;

$max-width: 1200px;
$min-width: 600px;

// MEDIA QUERIES
$vw-thin: 320px;
$vw-small: 640px;
$vw-medium: 768px;
$vw-large: 1024px;
$vw-huge: 1440px;